{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="main-content">
  <div class="personal-content"><!-- image and text section -->
      <div class="profile-img"></div> 
      <div class="profile-txt">
          <p>Hello there! I'm Aiden Dixon, currently balancing my studies in Computer Science at Michigan State University with an exciting internship at General Motors this summer.

            I'm diving into Quality Assurance for internal applications at GM, while also working on a project to turn a hackathon-winning app into a fully functional version with a fantastic team. I thrive on thinking outside the box, collaborating closely with others, and devising smart strategies to tackle complex problems.
            
            What really drives me is my passion for computer science and creating technology that makes people's lives easier and makes them want to share it with their friends.
            
            Family, friends, hard work, and ensuring everyone gets a fair shot are values close to my heart. Looking ahead, I'm aiming to launch my own company someday, dedicated to simplifying lives with innovative solutions.</p>
      </div>
      
  </div>
  <div class="fact-content"> <!-- fact section section -->
    <h1>My Journey</h1>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-date">May 2024 – Present</div>
            <div class="timeline-company"> 
                <div class="timeline-company-image"><img src="static/main/images/gm.jpg" alt="General Motors"></div>
                <div class="timeline-company-text">
                    <div class="timeline-company-name">General Motors</div>
                    <div class="timeline-company-date">Warren, Michigan</div>
                </div>
            </div>
            <div class="timeline-details">
                <div class="timeline-content">
                    <h3>Software Engineering Intern</h3>
                    <p>Implemented unit, integration, end-to-end, and performance testing for internally built applications that previously had no testing, establishing 100% test coverage and enhancing CICD pipeline reliability and deployment efficiency. Pitched a hackathon project to executive directors, receiving approval to lead its development. Demonstrated a compelling proof of concept and highlighted its potential value to the business, securing executive buy-in and the necessary resources for full-scale implementation.</p>
                </div>
            </div>            
        </div>
        <div class="timeline-item">
            <div class="timeline-date">Feb 2024 – April 2024</div>
            <div class="timeline-company"> 
                <div class="timeline-company-image"><img src="static/main/images/lilypad.jpg" alt="LilyPad"></div>
                <div class="timeline-company-text">
                    <div class="timeline-company-name">LilyPad</div>
                    <div class="timeline-company-date">East Lansing, Michigan</div>
                </div>
            </div>
            <div class="timeline-details">
                <div class="timeline-content">
                    <h3>Software Engineer</h3>
                    <p>Led the design and implementation of a PostgreSQL database for a social media app for college students, creating various database tables and implementing security mechanisms to support a user base of 50,000 students. Orchestrated backend development efforts implementing RESTful API endpoints. Designed these endpoints to seamlessly connect the PostgreSQL database with the frontend, ensuring efficient data retrieval and manipulation.</p>
                </div>
            </div>            
        </div>
        <div class="timeline-item">
            <div class="timeline-date">Jan 2024 – April 2024</div>
            <div class="timeline-company"> 
                <div class="timeline-company-image"><img src="static/main/images/Michigan-State-logo.png" alt="Michigan State University"></div>
                <div class="timeline-company-text">
                    <div class="timeline-company-name">Michigan State University</div>
                    <div class="timeline-company-date">East Lansing, Michigan</div>
                </div>
            </div>
            <div class="timeline-details">
                <div class="timeline-content">
                    <h3>Teaching Assistant</h3>
                    <p>Served as an Undergraduate Teaching Assistant for CSE 335: Object-oriented Software Design, demonstrating mastery of software system design principles and object-oriented programming concepts in C++ by providing students with insightful guidance and in-depth explanations on course material. Managed both in-person and online help rooms, providing assistance to over 300 students in understanding key concepts related to the Object-Oriented programming assignments and software system design assignments. Conducted evaluations and grading of students’ code and design submissions, offering constructive feedback to identify areas for enhancement and providing guidance on implementing industry best practices.</p>
                </div>
            </div>            
        </div>
        <div class="timeline-item">
            <div class="timeline-date">May 2023 – Aug 2023</div>
            <div class="timeline-company"> 
                <div class="timeline-company-image"><img src="static/main/images/gm.jpg" alt="General Motors"></div>
                <div class="timeline-company-text">
                    <div class="timeline-company-name">General Motors</div>
                    <div class="timeline-company-date">Warren, Michigan</div>
                </div>
            </div>
            <div class="timeline-details">
                <div class="timeline-content">
                    <h3>Software Product Management Intern</h3>
                    <p>Led a comprehensive data cleansing and alignment project to identify and rectify inconsistencies, duplicates, and errors, in a database used for billing 270,000 customers and accounting for 25% of total sales. Utilized Azure DevOps to write features to update the database and implement data integrity constraints and collaborated with product owners and senior developers to create user stories and tasks for the development team. Received a recognition award for demonstrating exceptional commitment to my project by dedicating personal time outside of regular working hours to learn SQL and PostgreSQL in order to improve my performance.</p>
                </div>
            </div>            
        </div>
    </div>
    
  
  

</div>


{% endblock %}
