{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="main-content">
  <div class="personal-content"><!-- image and text section -->
      <div class="profile-img"></div> 
      <div class="profile-txt">
          <p>My Name is Aiden Dixon and I am  student at MSU.
              I am studying computer science and I love coding and learning about the hardware
              I enjoy learning things from the ground up, so I enjoy my lower level classes as they give me a look into where the 
              more advanced processes come from. This is my website that I am creating and I hope to turn this into a 
              portfolio website down the line.
              
          
          </p>
      </div>
      
  </div>
  <div class="fact-content"> <!-- fact section section -->
      <h3>FUN FACT ABOUT ME: </h3>
      <p>I can solve 5 different variants of rubik's cubes</p>
  </div>
  
  

</div>


{% endblock %}


