{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/piano.css') }}">
{% endblock %}
{% block extrajs %}
<script src="{{ url_for('static', filename='main/js/piano.js') }}" defer></script>
{% endblock %}
{% block maincontent %}

<div class="piano-page-content">
      <p class="intro-poem"><em>Behold piano great and old,
       it's master slumpers in far off cold,
       if you wish to see anew, call out to it - we see you 
      </em></p>
  <div class="piano">
      <h1 id="old-one-text">The Great Old One</h1>
      <div class="keys">
          <div  class="black-key" id="w"><p class="key-text">W</p></div>
          <div  class="black-key" id="e"><p class="key-text">E</p></div>
          <div  class="black-key" id="t"><p class="key-text">T</p></div>
          <div  class="black-key" id="y"><p class="key-text">Y</p></div>
          <div  class="black-key" id="u"><p class="key-text">U</p></div>
          <div  class="black-key" id="o"><p class="key-text">O</p></div>
          <div  class="black-key" id="p"><p class="key-text">P</p></div>
          <div class="white-key" id="a"><p class="key-text">A</p></div>
          <div class="white-key" id="s"><p class="key-text">S</p></div>
          <div class="white-key" id="d"><p class="key-text">D</p></div>
          <div class="white-key" id="f"><p class="key-text">F</p></div>
          <div class="white-key" id="g"><p class="key-text">G</p></div>
          <div class="white-key" id="h"><p class="key-text">H</p></div>
          <div class="white-key" id="j"><p class="key-text">J</p></div>
          <div class="white-key" id="k"><p class="key-text">K</p></div>
          <div class="white-key" id="l"><p class="key-text">L</p></div>
          <div class="white-key" id=";"><p class="key-text">;</p></div>
      </div>
  </div>



{% endblock %}