{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/projects.css') }}">
{% endblock %}
  
{% block extrajs %}
<script src="{{ url_for('static', filename='main/js/projects.js') }}" defer></script>
{% endblock %}
{% block maincontent %}
<div class="project-page-content">
  <div class="title-content">
    <h1>Below is a list of projects I have developed over the years</h1>
    <p></p>
  </div>
  <div class="projects-list">
    <div class="project-item">
      <img src="static/main/images/SimplifyIT-image.png" alt="SimplifyIT" class="project-image">
      <div class="project-description">
        <h2>SimplifyIT - AI Jira Ticket Automation Tool</h2>
        <div class="timeline-date">May 2024 – Present</div>
        <p>During my tenure at General Motors, I participated in their company-wide hackathon and completed a project that integrated a basic Flask backend with a straightforward UI designed as a chat interface. The application utilized LLama3 chat and code models provided for the hackathon.</p>
        <p>Users initiated conversations by specifying whether they intended to create a feature or a defect ticket. The chatbot then generated a corresponding template beside the chat window and proceeded to ask users questions to populate the template. Some of these questions included things like the application being worked on, instance of the application (cloud, on-prem, etc.) and after receiving responses to these questions, the codebase was queried and fed to the model to improve context and give the AI a look into how the code is written. Once both the chatbot and user completed filling out the template, it appeared filled out on the screen. The user was then prompted to click a "Finalize Ticket" button to create the ticket in the Jira dashboard. The bot would then create a file of test cases to ensure the feature/defect was implemented correctly.</p>
        <p>The project won first overall, and I pitched the idea to Executive Directors and VPs of software at GM, getting the OK to continue development on a production version integrated into Jira's dashboard.</p>
        <div id="SimplifyIT-video-container">
          <a href="javascript:void(0);" id="play-button" onclick="loadVideo('static/main/videos/SecondDemo.mp4', 'SimplifyIT-video-container')">Watch Demo Video</a>
      </div>
        <p>GitHub: **Internal to General Motors and cannot be shared**</p>
      </div>
    </div>
    <div class="project-item">
      <img src="static/main/images/PlanIT-image.png" alt="Trello-Clone" class="project-image">
      <div class="project-description">
        <h2>PlanIT - Trello Clone</h2>
        <div class="timeline-date">Feb 2024 – Present</div>
        <p>During my final exam for a class, I developed a Trello clone, a project management platform aimed at improving team collaboration and task management.</p>
        <p>The Trello clone project replicates core functionalities of Trello, allowing users to create boards, lists, and cards to manage tasks and projects effectively. It was developed to demonstrate proficiency in full-stack web development and project management principles.</p>
        <p>Key features include:</p>
        <ul>
          <li><strong>Board Management:</strong> Create, edit, and delete boards.</li>
          <li><strong>List Management:</strong> Add, reorder, and delete lists within boards.</li>
          <li><strong>Card Management:</strong> Create cards within lists, drag-and-drop cards between lists, and update card details.</li>
          <li><strong>User Authentication:</strong> Register new users, authenticate existing users, and manage user sessions.</li>
          <li><strong>Responsive UI:</strong> Designed with a responsive layout to ensure usability across various devices.</li>
        </ul>
        <p>Technologies used include HTML, CSS, JavaScript for the frontend, and Python Flask and SQLite for the backend. The project was deployed on Google Cloud (no longer up).</p>
        <p>Future improvements could include real-time updates using WebSocket technology, enhanced UI/UX design, integration with external APIs, addition of advanced features like file attachments and comments, and performance optimization for scalability.</p>
        <p>This project was inspired by Trello and developed as a final exam project for a class. I plan to continue improving it and welcome contributions and feedback.</p>
        <div id="PlanIT-video-container">
          <a href="javascript:void(0);" id="play-button" onclick="loadVideo('static/main/videos/PlanIT-video.mp4','PlanIT-video-container')">Watch Demo Video</a>
        </div>
        <a href="https://github.com/Archangel252/Trello-clone">GitHub Link</a>
      </div>
    </div>
    <!-- Add more project items as needed -->
  </div>
  <p>More Coming Soon...</p>
</div>
{% endblock %}
