{% extends 'shared/layout.html' %}


{% block maincontent %}

<div class="project-page-content"><!-- project and description -->
      <div class="title-content">
          <h1>Below is  list of projects I worked on in CSE 477</h1>
          <p>Click an image, or hyperlink in the description to learn more</p>
      </div>
      <div class="project-content">
          <a href="/piano" class="piano-img"></a> 

          <p>As a part of my first Homework assignment in CSE 477 I developed a 
              interactive piano built in pure HTML, CSS, and JavaScript.
              This tool (in addition to my webpage) highlights my ability to build beautiful
              and mobile-friendly front-end applications <a href="/piano">Click Here to see, and play!</a>
          </p>
      </div>
      <p>More Coming Soon</p>
      

  </div>

{% endblock %}