<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aiden Dixon</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/header.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/footer.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}
  <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
  {% block extrajs %}{% endblock %}
</head>

<body>
    <article>

    <!-- The navigation bar -->
    <nav>
      <h3>Aiden Dixon</h3>
      <div class="nav-links">
          <a href="/home">Home</a>
          <a href="/projects">Projects</a>
          <a href="/resume">Resume</a>
      </div>
      <div class="social-links">
          <a href="https://www.linkedin.com/in/aiden-dixon/"><img src="static/main/images/linkedin.jpg" alt="linkedin" loading="lazy" id="linkedin-img"></a>
          <a href="mailto:adixon91302@gmail.com"><img src="static/main/images/gmail.png" alt="gmail" loading="lazy" id="gmail-img"></a>
          <a href="https://github.com/Archangel252"><img src="static/main/images/github.jpg" alt="github" loading="lazy" id="github-img"></a>
      </div>
  </nav>
  
    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}
    </main>

    <!-- The footer of the file -->
    <footer>
      <h3>Contact Me!</h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/aiden-dixon/"><img src="static/main/images/linkedin.jpg" alt="linkedin" loading="lazy" id="linkedin-img"></a>
        <a href="https://www.linkedin.com/in/aiden-dixon/"><img src="static/main/images/gmail.png" alt="gmail" loading="lazy" id="gmail-img"></a>
        <a href="https://www.linkedin.com/in/aiden-dixon/"><img src="static/main/images/github.jpg" alt="github" loading="lazy" id="github-img"></a>
      </div>
    </footer>

    </article>
  
</body>

</html>















