/* navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 5vw; 
    background-color: #1e1e1e;
    color: white;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 2vw; 
    margin-right: 2vw;
    font-size: 1.5vw;
}

nav a:hover {
    opacity: 0.8; /* Adjust opacity on hover */
    color: black;
}

.social-links a {
    margin-left: 1vw; 
    margin-right: 1vw;
}

.social-links img {
    height: 3vw;
    width: 3vw;
    object-fit: cover; /* Ensure the images fit within the dimensions without distortion */
    border-radius: 10%;
}

.menu-bar-link {
    display: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown.active {
    max-height: 300px; /* Adjust max height as needed */
}

.menu-bar-link {
    display: block;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .social-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu-bar-link {
        display: block;
    }

    .dropdown {
        position: static;
        max-height: none;
        overflow: visible;
        background-color: transparent;
        width: auto;
        display: none;
    }

    .dropdown.active {
        display: block;
    }
}
