/* navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 5vw; /* Adjust padding for spacing */
    background-color: black;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px; /* Add padding for link spacing */
}

nav a:hover {
    opacity: 0.8; /* Adjust opacity on hover */
}

.nav-profile-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #555;
    margin-right: 20px;
    background-image: url(../images/profile-pic.jpg);
    background-size: cover; 
    background-position: center;
}

#linkedin-img {
    height: 7vh;
    width: auto;
}

.menu-bar-link {
    display: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown.active {
    max-height: 300px; /* Adjust max height as needed */
}

.menu-bar-link {
    display: block;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    nav a {
        margin: 10px 0;
    }

    .menu-bar-link {
        display: block;
    }

    .dropdown {
        position: static;
        max-height: none;
        overflow: visible;
        background-color: transparent;
        width: auto;
        display: none;
    }

    .dropdown.active {
        display: block;
    }
}
