/*PIANO PAGE CSS*/
/*----------------------------------------*/
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.piano-page-content{
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 10vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    width: 80vw;
    padding-bottom: 5vh;
}
.piano{
    width: 60vw;
    height: 80vh;
    background-color: rgb(34,34,34);
    border-top-left-radius: 5vh; 
    border-top-right-radius: 5vh; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.piano h1{
    color: white;

}
.keys{
    display: grid;
    grid-template-columns: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.white-key{
    display: flex; /* Use flexbox for easier alignment */
    justify-content: center; /* Center horizontally */
    align-items: flex-end;
    font-size: 200%;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    
}

.black-key{
    position: absolute;
    z-index: 2;
    display: flex; /* Use flexbox for easier alignment */
    justify-content: center; /* Center horizontally */
    align-items: flex-end;
    font-size: 200%;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    width: 3%;
    height: 30%;
    background-color: black;
}
.key-text{
    display: none;
}
#w{
    left: 30%;
}
#e{
    left: 35%;
}
#t{
    left: 44%;
}
#y{
    left: 49%;
}
#u{
    left: 54%;
}
#o{
    left: 64%;
}
#p{
    left: 69%;
}