.buttons
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#new
{
    font-size: 80px;
    width: 100%;
    height: 100%;
}
#list
{
    font-size: 80px;
    width: 100%;
    height: 100%;
}